@import "mixin";

.div-top {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    @include desktop {
        height: 50vw;
        flex-wrap: wrap;
    }
}
.div-top .div-header {
    height: 20vw;
    @include desktop {
    height: 15vw;
    }
}
.div-top .div-header .title-header {
    font-size: 5vw;
    font-weight: 900;
    text-align: center;
    padding-top: 8vw;
    line-height: 0%;
    @include desktop {
        font-size: 2.5vw;
        text-align: left;
        padding-top: 6vw;
        margin-left: 3vw;
    }
}
.div-top .div-header .folder-header {
    font-size: 3vw;
    text-align: center;
    padding-bottom: 2vw;
    margin-top: 4vw;
    @include desktop {
        font-size: 1.5vw;
        text-align: left;
        line-height: 0;
        margin-left: 3vw;
    }
}
.div-top .div-welcome {
    color: white;
    display: flex;
    flex-flow: column;
    background-color: #9698D6;
    height: 79vw;
    @include desktop {
        background-color: transparent;
        background-image: url("/public/img/Rectangle 22.png");
        background-repeat: no-repeat;
        background-size: contain;
        justify-content: flex-start;
        width: 71vw;
        height: 32vw;
        margin: 1vw 3vw 0vw 3vw;
        line-height: 2vw;
        padding-left: 3vw;
        padding-bottom: 1vw;
    }
}
.div-top .div-welcome .h1-welcome {
    text-align: center;
    font-weight: 900;
    font-size: 7vw;
    margin-top: 40vw;
    margin-bottom: 1vw;
    @include desktop {
        font-size: 2.5vw;
        text-align: left;
        margin-top: 4vw;
        margin-left: 1vw;;
    }
}
.div-top .div-welcome .p-welcome {
    font-size: 4.5vw;
    text-align: center;
    margin-top: 8vw;
    margin-left:4vw;
    margin-bottom: 20vw;
    width: 90vw;
    @include desktop {
        font-size: 1.5vw;
        text-align: left;
        margin-top:0;
        margin-left: 1vw;;
        width: 30vw;
    }
}
.div-top .div-welcome .illustr-welcome {
    width: 36vw;
    margin-top: -88vw;
    margin-left: 35vw;
    @include desktop {
        width: 33vw;
        margin-top: -47vw;
        margin-left: 36vw;
    }
}