Options -MultiViews

RewriteEngine on

RewriteCond %{REQUEST_URI} ^/proxy/proxy\.php$
RequestRule ^/proxy/(.+)$ /proxy/proxy.php?action=$1 [QSA,END]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ /index.html [QSA,END]