@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
.body_form_login {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 40%;
  background-color: #f9de4e;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .body_form_login {
    margin-top: 6.5%;
  }
}
.body_form_login .a_form_login {
  width: 100%;
  position: absolute;
  top: 94%;
  left: -4%;
}
@media screen and (min-width: 1280px) {
  .body_form_login .a_form_login {
    left: 0;
  }
}
.body_form_login .a_form_login .logo_cogip_login {
  width: 30%;
  position: absolute;
  top: 94%;
  left: 70%;
}
@media screen and (min-width: 1280px) {
  .body_form_login .a_form_login .logo_cogip_login {
    width: 10%;
    top: 95%;
    left: 89%;
  }
}
.body_form_login .bulb_php_login {
  width: 30%;
  position: absolute;
  top: 52%;
  left: 0%;
}
@media screen and (min-width: 1280px) {
  .body_form_login .bulb_php_login {
    width: 18%;
    top: 57%;
  }
}
.body_form_login .arm_php_login {
  width: 30%;
  position: absolute;
  top: 26%;
  left: 70%;
}
@media screen and (min-width: 1280px) {
  .body_form_login .arm_php_login {
    width: 18%;
    top: 3%;
    left: 82%;
  }
}
.body_form_login .form_content_login {
  width: 80%;
  height: 50%;
  display: flex;
  padding: 6% 0% 10% 0%;
  margin-top: 23%;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 25px;
}
@media screen and (min-width: 1280px) {
  .body_form_login .form_content_login {
    height: 80%;
    margin: 5%;
  }
}
.body_form_login .form_content_login .title_register_login {
  font-family: "Roboto", sans-serif;
  font-size: 300%;
  padding-left: 20%;
}
@media screen and (min-width: 1280px) {
  .body_form_login .form_content_login .title_register_login {
    font-size: 200%;
  }
}
.body_form_login .form_content_login .form_login {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body_form_login .form_content_login .form_login .form_label_login {
  width: 60%;
  margin-bottom: 1%;
  font-size: 200%;
  font-weight: 200;
}
@media screen and (min-width: 1280px) {
  .body_form_login .form_content_login .form_login .form_label_login {
    font-size: 120%;
    margin-bottom: 0;
  }
}
.body_form_login .form_content_login .form_login .form_input_login {
  width: 60%;
  margin-bottom: 3%;
  font-size: 200%;
  border: none;
  border-radius: 5px;
}
@media screen and (min-width: 1280px) {
  .body_form_login .form_content_login .form_login .form_input_login {
    font-size: 120%;
    margin-bottom: 1%;
  }
}
.body_form_login .form_content_login .form_login .form_input_login:focus {
  border: 4px solid #9698D6;
  outline: none;
}
.body_form_login .form_content_login .form_submit_login {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}
.body_form_login .form_content_login .form_submit_login .form_submit_btn_login {
  border-radius: 10px;
  padding: 1% 0% 1% 0%;
  border: none;
  background-color: #9698D6;
  color: #f9de4e;
  font-family: "Roboto", sans-serif;
  width: 60%;
  font-size: 250%;
}
@media screen and (min-width: 1280px) {
  .body_form_login .form_content_login .form_submit_login .form_submit_btn_login {
    font-size: 150%;
  }
}
.body_form_login .form_content_login .form_submit_login .form_submit_btn_login:hover {
  background-color: transparent;
  border: 2px solid #919EAB;
  color: #9698D6;
}/*# sourceMappingURL=login.css.map */