@import "mixin";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.section_last_invoices {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    width: 80%;
    font-family: "Inter", sans-serif;
    font-size: 160%;
    text-align: left;
    z-index: 1;
    @include desktop {
      margin-top: 5%;
      font-size: 250%;
    }
  }
  .yellow_rectangle {
    background-color: #f9de4e;
    border: none;
    height: 1rem;
    width: 35%;
    position: absolute;
    top: 14.5%;
    left: 25%;
    @include desktop {
      top: 28%;
      left: 17.5%;
      height: 1.5rem;
      width: 17%;
    }
  }
  .input_text {
    padding: 0.5%;
    border-radius: 4px;
    border: solid 1px #636363;
    margin-bottom: 5%;
    @include desktop {
      margin-bottom: 2%;
      margin-left: 66%;
    }
  }
  .table_last_invoices {
    width: 80%;
    overflow-x: auto;
    position: relative;
    @include desktop {
      overflow-x: visible;
    }
    table {
      table-layout: auto;
      width: 300%;
      border-collapse: collapse;
      @include desktop {
        width: 100%;
      }
      thead {
        font-family: "Roboto", sans-serif;
        background-color: #f9de4e;
        tr {
          th {
            padding: 1% 1% 1% 1%;
            text-align: left;
          }
          .table_last_invoices_number {
            width: 17%;
          }
          .table_last_invoices_dates {
            width: 12%;
          }
          .table_last_invoices_company {
            width: 20%;
          }
        }
      }
      tbody {
        font-family: "Roboto", sans-serif;
        tr {
          background-color: #f5f5f5;
          th {
            padding: 1% 1% 1% 2%;
            text-align: left;
          }
        }
        tr:nth-child(odd) {
          background-color: #ffffff;
        }
      }
    }
  }
}
