@import "mixin";

.dash_pos {
  font-size: 120%;
}

.dash_pos_span {
  font-size: 80%;
}

.dash_invoice {
  display: flex;
  justify-content: space-around;
  background-color: #e3e3ff;
  margin: 0;
  padding: 0;
}

.dash_invoice_main {
  margin: 3%;
  width: 70vw;
}
