@import "mixin.scss";

.dash_nav {
  width: 30vw;
  margin: 0;
  padding: 2%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mobile {
    display: none;
  }
}

.dash_contact_img {
  border-radius: 50%;
  width: 50%;
}

.dash_contact_name {
  text-align: center;
}
