@import "mixin";

.welcome {
  background-color: #9698d6;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 3%;
}

.welcome::after {
  content: "";
  background-image: url(../../../public/img/illustr.png);
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
  background-size: contain;
  right: 0;
  min-width: 50%;
  min-height: 30vh;
  bottom: 0;
  @include mobile {
    display: none;
  }
}

.illustr {
  width: 80%;
  align-self: center;
  @include tablet {
    display: none;
  }
}

.welcome_div {
  @include tablet {
    width: 50%;
  }
  .welcome_title {
    font-size: 180%;
    padding: 2%;
    padding-bottom: 0;
  }

  .welcome_text {
    padding: 2%;
  }
}
