@import "mixin";

.welcome {
  background-color: #9698d6;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.illustr {
  width: 80%;
  align-self: center;
  @include tablet {
    display: none;
  }
}

.welcome_div {
  @include tablet {
    width: 50%;
  }
  .welcome_title {
    font-size: 180%;
    padding: 2%;
    padding-bottom: 0;
  }

  .welcome_text {
    padding: 2%;
  }
}
