@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import "mixin.scss";

.nav_links ul {
  display: flex;
  flex-direction: column;
  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    text-decoration: underline;
  }
}

// body {
//   font-family: "Roboto";
// }
.dash_invoice {
  font-family: "Roboto";
  transition: all 2s ease;
}

.dash_nav_mobile {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 3%;
  border-radius: 10px;

  @include tablet {
    display: none;
  }
  .dash_nav_mobile_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contact_mobile {
    display: flex;
    align-items: center;
    text-align: center;
    .dash_contact_img_mobile {
      border-radius: 50%;
      margin-right: 10px;
      width: 30%;
    }
    .dash_contact_name_mobile {
      font-size: 100%;
    }
  }
  .burger_menu {
    width: 7%;
  }
}

.nav_links {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  .logout {
    color: #9698d6;
  }
}

.nav_links.menu {
  max-height: 1000px;
  transition: max-height 0.5s ease-in-out;
}

.nav_links {
  width: 100%;
  text-align: center;

  * {
    padding: 0;
    margin: 0;
    font-size: 1em;
  }
  .li_nav {
    display: flex;
    align-items: center;
    margin: 10px 0;
    img {
      margin-right: 20px;
    }
  }
}
