@import "mixin";

.div-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:8vw;
  @include desktop {
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
    height: 64vw;
    margin: 1vw;
  }
}