@import "mixin";

.div-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 60vw;
    height: 59vw;
    margin-left: 3vw;
  }
}
.div-data .div-stat,
.div-data .Tb_Invoices-section,
.div-data .Tb_Invoices-contacts,
.div-data .Tb_Invoices-companies {
  @include desktop {
    width: 49%;
  }
}
//-------------------------- Statistics ------------------------------//
.div-data .div-stat {
  font-family: "Inter", sans-serif;
  font-size: 4vw;
  background-color: white;
  height: 48vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border-radius: 10px;
  margin: 2vw;
  padding-bottom: 2vw;
  @include desktop {
    padding: 1vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 33vw;
    height: 18vw;
  }
}
.div-data .div-stat .h2-stat {
  padding-right: 50vw;
  justify-content: space-around;
  @include desktop {
    font-size: 2vw;
    font-weight: 700;
    padding-right: 20vw;
  }
}
.div-data .div-stat .div-invoices {
  background: url("/img/EllipseBleue.png");
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  @include desktop {
    width: 5vw;
    height: 5vw;
    padding-left: 1vw;
    padding-top: 1vw;
  }
}
.div-data .div-stat .invoices-stat {
  @include desktop {
    font-size: 1vw;
    width: 20vw;
  }
}
.div-data .div-stat .div-contacts {
  background: url("/img/EllipseLavande.png");
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  @include desktop {
    width: 5vw;
    height: 5vw;
    padding-left: 1vw;
    padding-top: 1vw;
  }
}
.div-data .div-stat .contacts-stat {
  @include desktop {
    font-size: 1vw;
  }
}
.div-data .div-stat .div-companies {
  background: url("/img/EllipseRose.png");
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  @include desktop {
    width: 5vw;
    height: 5vw;
    padding-left: 1vw;
    padding-top: 1vw;
  }
}
.div-data .div-stat .companies-stat {
  @include desktop {
    font-size: 1vw;
  }
}
//-------------------------- Contacts ------------------------------//
.div-data .Tb_Contacts-section {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 95vw;
  height: 70vw;
  border-radius: 10px;
  margin-bottom: 2vw;
  @include desktop {
    padding-left: 1vw;
    padding-bottom: 2vw;
    margin-bottom: 10vw;
    width: 34vw;
    height: 25vw;
  }
}
.div-data .Tb_Contacts-section h3 {
  font-family: "Inter", sans-serif;
  text-align: left;
  margin-left: 8vw;
  @include desktop {
    font-size: 2vw;
    margin-left: 1vw;
  }
}
.div-data .Tb_Contacts-section .line-h3tb {
  padding-bottom: 2vw;
  @include desktop {
    padding-bottom: 2vw;
    max-width: 90%;
  }
}
.div-data .Tb_Contacts-section .Tb_Contacts-table {
  margin-left: 4vw;
  margin-right: 4vw;
  overflow-x: auto;
  @include desktop {
    margin-right: 1vw;
  }
}
.div-data .Tb_Contacts-section .Tb_Contacts-table table {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  width: 120vw;
  border-collapse: collapse;
  @include desktop {
    width: 28vw;
  }
}
.div-data .Tb_Contacts-section .Tb_Contacts-table table thead tr th {
  font-size: 4vw;
  text-align: left;
  padding: 2vw;
  @include desktop {
    font-size: 1vw;
    font-weight: 900;
    padding: 1vw;
  }
}
.div-data .Tb_Contacts-section .Tb_Contacts-table table tbody tr th {
  font-size: 4vw;
  font-weight: 500;
  @include desktop {
    font-size: 1vw;
  }
}
.div-data .Tb_Contacts-section .Tb_Contacts-table table tbody tr .name {
  padding: 2vw 2vw 2vw 2vw;
  text-align: left;
  @include desktop {
    padding: 1vw 0 1vw 1vw;
  }
}
.div-data .Tb_Contacts-section .Tb_Contacts-table table tbody tr .email {
  padding-left: 2vw;
  text-align: left;
}
//-------------------------- Invoices ------------------------------//
.div-data .Tb_Invoices-section {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 95vw;
  height: 70vw;
  border-radius: 10px;
  margin-bottom: 2vw;

  @include desktop {
    padding-left: 1vw;
    padding-bottom: 2vw;
    margin-bottom: 10vw;
    width: 34vw;
    height: 25vw;
  }
}
.div-data .Tb_Invoices-section h3 {
  font-family: "Inter", sans-serif;
  text-align: left;
  margin-left: 8vw;
  @include desktop {
    font-size: 2vw;
    margin-left: 1vw;
  }
}
.div-data .Tb_Invoices-section .line-h3tb {
  padding-bottom: 2vw;
  @include desktop {
    padding-bottom: 2vw;
    max-width: 90%;
  }
}
.div-data .Tb_Invoices-section .Tb_Invoices-table {
  margin-left: 4vw;
  margin-right: 4vw;
  overflow-x: auto;
  @include desktop {
    margin-right: 1vw;
  }
}
.div-data .Tb_Invoices-section .Tb_Invoices-table table {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  width: 120vw;
  border-collapse: collapse;
  @include desktop {
    width: 28vw;
  }
}
.div-data .Tb_Invoices-section .Tb_Invoices-table table thead tr th {
  font-size: 4vw;
  text-align: left;
  padding: 2vw;
  @include desktop {
    font-size: 1vw;
    font-weight: 900;
    padding: 1vw;
  }
}
.div-data .Tb_Invoices-section .Tb_Invoices-table table tbody tr th {
  font-size: 4vw;
  font-weight: 500;
  @include desktop {
    font-size: 1vw;
  }
}
.div-data
  .Tb_Invoices-section
  .Tb_Invoices-table
  table
  tbody
  tr
  .invoice-number {
  padding: 2vw 2vw 2vw 2vw;
  text-align: left;
  @include desktop {
    padding: 1vw 0 1vw 1vw;
  }
}
.div-data .Tb_Invoices-section .Tb_Invoices-table table tbody tr .company {
  padding-left: 2vw;
  text-align: left;
}
//-------------------------- Companies ------------------------------//
.div-data .Tb_Companies-section {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 95vw;
  height: 70vw;
  border-radius: 10px;
  margin-bottom: 4vw;
  @include desktop {
    padding-left: 1vw;
    padding-bottom: 2vw;
    margin-bottom: 10vw;
    width: 34vw;
    height: 25vw;
  }
}
.div-data .Tb_Companies-section h3 {
  font-family: "Inter", sans-serif;
  text-align: left;
  margin-left: 8vw;
  @include desktop {
    font-size: 2vw;
    margin-left: 1vw;
  }
}
.div-data .Tb_Companies-section .line-h3tb {
  padding-bottom: 2vw;
  @include desktop {
    padding-bottom: 2vw;
    max-width: 90%;
  }
}
.div-data .Tb_Companies-section .Tb_Companies-table {
  margin-left: 4vw;
  margin-right: 4vw;
  overflow-x: auto;
  @include desktop {
    margin-right: 1vw;
  }
}
.div-data .Tb_Companies-section .Tb_Companies-table table {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  width: 120vw;
  border-collapse: collapse;
  @include desktop {
    width: 28vw;
  }
}
.div-data .Tb_Companies-section .Tb_Companies-table table thead tr th {
  font-size: 4vw;
  text-align: left;
  padding: 2vw;
  @include desktop {
    font-size: 1vw;
    font-weight: 900;
    padding: 1vw;
  }
}
.div-data .Tb_Companies-section .Tb_Companies-table table tbody tr th {
  font-size: 4vw;
  font-weight: 500;
  @include desktop {
    font-size: 1vw;
  }
}
.div-data .Tb_Companies-section .Tb_Companies-table table tbody tr .name {
  padding: 2vw 2vw 2vw 2vw;
  text-align: left;
  @include desktop {
    padding: 1vw 0 1vw 1vw;
  }
}
.div-data .Tb_Companies-section .Tb_Companies-table table tbody tr .country {
  padding-left: 2vw;
  text-align: left;
}
