@import "mixin";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.section_last_invoices{
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
        width: 80%;
        font-family: 'Inter', sans-serif;
        font-size: 140%;
        text-align: left;
    }
    .table_last_invoices{
        width: 80%;
        overflow-x: auto;
        table{
            width: 200%;
            border-collapse: collapse;
            thead{
                font-family: 'Roboto', sans-serif;
                background-color:#F9DE4E;
                tr{
                    th{
                        padding: 0.5%;
                    }
                }
            }
            tbody{
                font-family: 'Roboto', sans-serif;
                tr{
                    background-color:#F5F5F5;
                    .invoice_number{
                        padding: 0.5%;
                    }
                    .dates_due{
                        padding: 0.5%;
                    }
                    .company{
                        padding: 0.5%;
                        text-align: left;
                    }
                    .created_at{
                        padding: 0.5%;
                    }
                }
                tr:nth-child(odd){
                    background-color:#ffffff;
                }
            }
        }
        
    }
}