@import "mixin";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.section_last_invoices{
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
        width: 80%;
        font-family: 'Inter', sans-serif;
        font-size: 160%;
        text-align: left;
        @include desktop{
            margin-top: 5%;
            font-size: 200%;
        }
    }
    .table_last_invoices{
        width: 80%;
        overflow-x: auto;
        position: relative;
        @include desktop{
            overflow-x: visible;
        }
        table{
            table-layout: auto;
            width: 200%;
            border-collapse: collapse;
            @include desktop{
                width: 100%;
            }
            thead{
                font-family: 'Roboto', sans-serif;
                background-color:#F9DE4E;
                tr{
                    th{
                        padding: 1%;
                        text-align: left;
                        padding-left: 5%;
                    }
                }
            }
            tbody{
                font-family: 'Roboto', sans-serif;
                tr{
                    background-color:#F5F5F5;
                    th{
                        padding: 1%;
                        text-align: left;
                        padding-left: 4%;
                    }
                    
                }
                tr:nth-child(odd){
                    background-color:#ffffff;
                }
            }
        }
    }
    .green_arm{
        width: 15%;
        position: relative;
        left: 43%;
        top: 97%;
        @include desktop{
            width: 10%;
            left: 45%;
            top: 125%;
        }
    }
}