@import "mixin";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.section_last_contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
        width: 80%;
        font-family: 'Inter', sans-serif;
        font-size: 160%;
        text-align: left;
        @include desktop{
            margin-top: 5%;
            font-size: 200%;
        }
    }
    .table_last_contacts{
        width: 80%;
        overflow-x: auto;
        position: relative;
        @include desktop{
            overflow-x: visible;
        }
        table{
            table-layout: auto;
            width: 300%;
            border-collapse: collapse;
            @include desktop{
                width: 100%;
            }
            thead{
                font-family: 'Roboto', sans-serif;
                background-color:#F9DE4E;
                tr{
                    th{
                        padding: 1% 1% 1% 1%;
                        text-align: left;
                    }
                    .table_last_contacts_name{
                        width: 20%;
                    }
                    .table_last_contacts_phone{
                        width: 20%;
                    }
                    .table_last_contacts_mail{
                        width: 20%;
                    }
                    .table_last_contacts_company{
                        width: 15%;
                    }
                    .table_last_contacts_created{
                        width: 20%;
                    }
                }
            }
            tbody{
                font-family: 'Roboto', sans-serif;
                tr{
                    background-color:#F5F5F5;
                    th{
                        padding: 1% 1% 1% 2%;
                        text-align: left;
                    }
                    
                }
                tr:nth-child(odd){
                    background-color:#ffffff;
                }
            }
        }
        
    }
    .bulb{
        width: 12%;
        position: relative;
        left: -45%;
        top: 135%;
        @include desktop{
            width: 9%;
            left: -46%;
            top: 167%;
        }
    }
}