@import "mixin";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.sect_manage{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9DE4E;
    .txt_img{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include desktop{
            flex-direction: row;
        }
        .manage{
            font-family: 'Roboto', sans-serif;
            font-weight: 900;
            font-size: 180%;
            width: 70%;
            text-align: center;
            margin-bottom: 0;
            margin-top: 5%;
            position: relative;
            @include desktop{
                width: 50%;
                font-size: 350%;
                text-align: left;
                padding-left: 9%;
                margin: 0;
            }
        }
        .homme_1{
            width: 100%;
            @include desktop{
                width: 50%;
            }
        }
    }
    .white_shape{
        width: 90%;
        position: static;
        top: 60.5%;
    }
}