@import "mixin";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
body {
  margin: 0;
  padding: 0;
  header {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    background: #f9de4e;
    @include desktop {
      padding-top: 3%;
    }
    h1 {
      width: 50%;
      display: flex;
      justify-content: center;
      font-family: "Roboto", sans-serif;
      font-weight: 900;
      @include desktop {
        font-size: 250%;
        width: 25%;
      }
    }
    .all {
      width: 50%;
      display: flex;
      z-index: 2;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .burger span{
        border-radius: 50px;
        display: block;
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
        @include desktop{
          display: none;
        }
      }
      .regroup_list{
        left: 0;
        width: 100%;
        position: absolute;
        top: 8%;
        flex-direction: column;
        align-items: center;
        background-color: black;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        @include desktop{
          display: flex;
          flex-direction: row;
          width: 75%;
          left: 25%;
          background-color: transparent;
        }
        .nav_pages{
          display: flex;
          justify-content: center;
          @include desktop{
            display: flex;
            flex-direction: row;
            width: 50%;
          }
          .list_pages{
            padding: 0;
            @include desktop{
              width: 100%;
              display: flex;
              justify-content: space-around;
            }
            .nav_link{
              color: white;
              text-decoration: none;
              &:hover{
                color: #f9de4e;
              }
              @include desktop{
                color: black;
                padding: 1% 3% 1% 3%;
                &:hover{
                  background-color: #fff;
                  border-radius: 5px;
                }
              .page{
                margin-bottom: 5%;
                display: flex;
              }
            }
          }
        }
      }
      .nav_log{
        display: flex;
        justify-content: center;
        @include desktop{
          display: flex;
          flex-direction: row;
          width: 50%;
        }
        .list_log{
          padding: 0;
          margin-top: 0;
          @include desktop{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin: 0;
          }
          .nav_link_2{
            color: white;
            text-decoration: none;
            &:hover{
              color: #f9de4e;
            }
            @include desktop{
              display: flex;
              align-items: center;
              margin-right: 10%;
              color: black;
              padding: 1% 3% 1% 3%;
              background-color: #fff;
              border-radius: 5px;
              &:hover{
                color: #f9de4e;
              }
            }
            .sign_up{
              margin-bottom: 10%;
              @include desktop{
                margin: 0;
              }
            }
          }
          .nav_link{
            color: white;
            text-decoration: none;
            &:hover{
              color: #f9de4e;
            }
            @include desktop{
              display: flex;
              align-items: center;
              margin-right: 10%;
              color: black;
              padding: 1% 3% 1% 3%;
              &:hover{
                background-color: #fff;
                border-radius: 5px;
              }
            }
            .login{
              margin-bottom: 10%;
              @include desktop{
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
}