@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
body {
  margin: 0;
  padding: 0;
}
body header {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  background: #f9de4e;
}
@media screen and (min-width: 1280px) {
  body header {
    padding-top: 3%;
  }
}
body header h1 {
  width: 50%;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
@media screen and (min-width: 1280px) {
  body header h1 {
    width: 20%;
    font-size: 250%;
  }
}
body header .all {
  width: 50%;
  display: flex;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body header .all .burger {
  display: flex;
  justify-content: center;
  background-color: #f9de4e;
  color: none;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 1280px) {
  body header .all .burger {
    display: none;
  }
}
body header .all .burger .burger_menu {
  width: 5vw;
  height: 3vh;
}
body header .all .nav_pages {
  width: 100%;
  justify-content: center;
  position: absolute;
  background-color: #000000;
  top: 8%;
  left: 0%;
  z-index: 1;
}
@media screen and (min-width: 1280px) {
  body header .all .nav_pages {
    width: 40%;
    top: 6.5%;
    left: 20%;
    background-color: transparent;
  }
}
body header .all .nav_pages .list_pages {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #000000;
  padding-bottom: 5%;
  padding-left: 0;
}
@media screen and (min-width: 1280px) {
  body header .all .nav_pages .list_pages {
    padding: 0;
    background-color: transparent;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
body header .all .nav_pages .list_pages .nav_link {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;
}
body header .all .nav_pages .list_pages .nav_link:hover {
  color: #f9de4e;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1280px) {
  body header .all .nav_pages .list_pages .nav_link {
    padding: 2% 3.5% 2% 3.5%;
    font-size: 110%;
    color: black;
  }
  body header .all .nav_pages .list_pages .nav_link:hover {
    color: #f9de4e;
    padding: 2% 3.5% 2% 3.5%;
    border-radius: 10px;
    font-size: 110%;
    background-color: #ffffff;
  }
}
body header .all .nav_pages .list_pages .nav_link .page {
  padding-top: 1%;
  padding-bottom: 1%;
}
@media screen and (min-width: 1280px) {
  body header .all .nav_pages .list_pages .nav_link .page {
    padding-top: 0;
    padding-bottom: 0;
  }
}
body header .all .nav_log {
  width: 100%;
  top: 23.5%;
  left: 0%;
  justify-content: center;
  position: absolute;
  z-index: 1;
}
@media screen and (min-width: 1280px) {
  body header .all .nav_log {
    width: 40%;
    top: 6.5%;
    left: 60%;
  }
}
body header .all .nav_log .list_log {
  width: 100%;
  padding-bottom: 3%;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  background-color: #000000;
}
@media screen and (min-width: 1280px) {
  body header .all .nav_log .list_log {
    width: 100%;
    padding: 0;
    margin-right: 15%;
    background-color: transparent;
    flex-direction: row;
    justify-content: flex-end;
  }
}
body header .all .nav_log .list_log .nav_link_2 {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
body header .all .nav_log .list_log .nav_link_2:hover {
  color: #f9de4e;
}
@media screen and (min-width: 1280px) {
  body header .all .nav_log .list_log .nav_link_2 {
    margin-right: 5%;
    padding: 1% 0% 1% 0%;
    border-radius: 10px;
    font-size: 110%;
    color: black;
    background-color: #ffffff;
  }
}
body header .all .nav_log .list_log .nav_link_2 .sign_up {
  width: 100px;
  padding-top: 2%;
  padding-bottom: 1%;
}
@media screen and (min-width: 1280px) {
  body header .all .nav_log .list_log .nav_link_2 .sign_up {
    padding-right: 6%;
    padding-top: 0;
    padding-bottom: 0;
  }
}
body header .all .nav_log .list_log .nav_link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
body header .all .nav_log .list_log .nav_link:hover {
  color: #f9de4e;
}
@media screen and (min-width: 1280px) {
  body header .all .nav_log .list_log .nav_link {
    font-size: 110%;
    color: black;
    padding: 1% 3% 1% 3%;
  }
  body header .all .nav_log .list_log .nav_link:hover {
    color: #f9de4e;
    padding: 1% 3% 1% 3%;
    border-radius: 10px;
    font-size: 110%;
    background-color: #ffffff;
  }
}
body header .all .nav_log .list_log .nav_link .login {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-top: 20%;
  padding-bottom: 10%;
}
@media screen and (min-width: 1280px) {
  body header .all .nav_log .list_log .nav_link .login {
    width: 20%;
    padding-top: 0;
    padding-bottom: 0;
  }
}/*# sourceMappingURL=Nav.css.map */