@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

.show_invoices {
  font-family: "inter";
}

.title2,
.title {
  font-size: 6vw;
  font-family: "inter";
  margin: 5%;
}

.infos {
  font-size: 4vw;
  list-style-type: none;
}
